/*Variables for all Standand.....*/
//Color style
$colorRed: rgba(255, 182, 182, 0.825);
$colorGreen: green;
$colorWhite: white;
$colorBLue: rgb(167, 167, 241);
$colorBlack: #000000;

//Size style
$sizeSmall: 14px;
$sizeMedium: 16px;
$sizeLarge: 18px;
$sizeExtraLarge: 20px;

//Font Size Standard
/*Mobile Font size*/
$font-title-mb: 32px;
$font-headline-mb: 26px;
$font-body-mb: 16px;
$font-sub-body-mb: 12px;

/*Table Font size*/
$font-title-tb: 40px;
$font-headline-tb: 32px;
$font-body-tb: 16px;
$font-sub-body-tb: 13px;

/*PC Font size 01*/
$font-title-pc: 48px;
$font-headline-pc: 36px;
$font-body-pc: 18px;
$font-sub-body-pc: 13px;
